
Project/Video/sepicPcb.png
Project/Video/script.docx
Project/Video/Fiddles McGinty.mp3
Project/Video/fakePhoto.jpg
Project/Video/electronicsVideoATerriblePreview.mp4
Project/Video/electronicsVideoALessTerriblePreviewV2.mp4
Project/Video/Delightful D.mp3
Project/Video/curcuit5.png
Project/Video/Comparsa.mp3
Project/Video/circuit5.jpg
Project/Video/circuit4.png
Project/Video/circuit3.png
Project/Video/circuit2.png
Project/Video/circuit1.png
Project/Video/2022-11-25 00-59-26.mp4
Project/Video/2022-11-25 00-48-33.mp4
Project/Video/2022-11-25 00-45-19.mp4
Project/Video/2022-11-25 00-43-33.mp4
Project/Video/2022-11-25 00-38-17.mp4
Project/Video/2022-11-25 00-29-41.mp4
Project/Video/2022-11-24 23-02-50.mp4
Project/Video/2022-11-24 23-01-43.mp4
Project/Video/2022-11-24 23-00-52.mp4
Project/Video/2022-11-24 23-00-31.mp4
Project/Video/2022-11-24 22-58-29.mp4
